<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>
<%= link_to "Retornar a Medici", static_pages_medici_home_path %> |
<%= link_to "Nuevo usuario", new_user_path %>


<br id="users">
  <h1>Usuarios Administradores</h1>
  <table>
    <thead>
        <tr>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>Direccion</th>
          <th>Email</th>
        </tr>
    </thead>
    <tbody>
      <% @admins.each do |user| %>
      <tr>
        <td><%= user.fullname %></td>
        <td><%= user.contact_number %></td>
        <td><%= user.contact_address %></td>
        <td><%= user.email %></td>
        <td><%= link_to "Show", user %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</br>
</br>
  <h1>Usuarios Patrocinadores</h1>
  <table>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <% @sponsors.each do |user| %>
      <tr>
        <td><%= user.fullname %></td>
        <td><%= user.contact_number %></td>
        <td><%= user.contact_address %></td>
        <td><%= user.email %></td>
        <td><%= link_to "Show", user %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </br>
</div>

<%= link_to "Retornar a Medici", static_pages_medici_home_path %> |
<%= link_to "Nuevo usuario", new_user_path %>

