<div id="<%= dom_id result %>">
  <p>
    <strong>Studies:</strong>
    <%= result.studies_id %>
  </p>

  <p>
    <strong>Result type:</strong>
    <%= result.result_type %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= result.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= result.description %>
  </p>

</div>
