<div id="<%= dom_id trial_center_facility %>">
  <h1>
    <%= trial_center_facility.name %>
  </h1>
  <p>
    <strong>Description:</strong>
    <%= trial_center_facility.description %>
  </p>

  <p>
    <strong>Initials:</strong>
    <%= trial_center_facility.initials %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= trial_center_facility.email %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= trial_center_facility.contact_number %>
  </p>

  <p>
    <strong>Contact address:</strong>
    <%= trial_center_facility.contact_address %>
  </p>

  <p>
    <strong>URL:</strong>
    <%= link_to trial_center_facility.url %>
  </p>

  <p>
    <strong>Sedes:</strong>
    <%= trial_center_facility.cities.pluck(:name).join(', ') %>
  </p>

  <p>
    <strong>Estudios:</strong>
    <% trial_center_facility.studies.each do |study| %>
      <%= link_to "#{study.public_title}", study %>
    <% end %>
  </p>

</div>
