<div id="<%= dom_id trial_center_facility %>">
  <p>
    <strong>Name:</strong>
    <%= trial_center_facility.name %>
  </p>

  <p>
    <strong>Initials:</strong>
    <%= trial_center_facility.initials %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= trial_center_facility.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trial_center_facility.description %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= trial_center_facility.contact_number %>
  </p>

  <p>
    <strong>Contact address:</strong>
    <%= trial_center_facility.contact_address %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= trial_center_facility.url %>
  </p>

</div>
