<p style="color: green"><%= notice %></p>

<%= render @trial_center_facility %>

<div>
  <%= link_to "Editar", edit_trial_center_facility_path(@trial_center_facility) %> |
  <%= link_to "Retornar a CEC", trial_center_facilities_path %>

  <%= button_to "Borrar", @trial_center_facility, method: :delete %>
</div>
