<div id="<%= dom_id sponsor %>">
  <p>
    <strong>Name:</strong>
    <%= sponsor.name %>
  </p>

  <p>
    <strong>Intials:</strong>
    <%= sponsor.intials %>
  </p>

  <p>
    <strong>Shortname:</strong>
    <%= sponsor.shortname %>
  </p>

  <p>
    <strong>Sponsor type:</strong>
    <%= sponsor.sponsor_type %>
  </p>

</div>
