<p style="color: green"><%= notice %></p>

<% content_for :title, "Sponsors" %>
<%= link_to "Retornar a Medici", static_pages_medici_home_path %> |
<%= link_to "Nuevo Patrocinador", new_sponsor_path %>
<h1>Patrocinadores</h1>

<div id="sponsors">
  <table>
    <thead>
        <tr>
          <th>Nombre</th>
          <th># Estudios</th>
          <th>Iniciales</th>
          <th>Sponsor type</th>
        </tr>
    </thead>
    <tbody>
        <% @sponsors.each do |sponsor| %>
          <tr>
            <td><%= sponsor.name %></td>
            <td><%= sponsor.studies.count %></td>
            <td><%= sponsor.capitals %></td>
            <td><%= sponsor.sponsor_type %></td>
            <td><%= link_to "Show", sponsor %></td>
          </tr>
        <% end %>
    </tbody>
  </table>

</div>

<%= link_to "Retornar a Medici", static_pages_medici_home_path %> |
<%= link_to "Nuevo Patrocinador", new_sponsor_path %>