<p style="color: green"><%= notice %></p>

<%= render @sponsor %>

<div>
  <%= link_to "Editar", edit_sponsor_path(@sponsor) %> |
  <%= link_to "Retornar a Patrocinadores", sponsors_path %>

  <%= button_to "Borrar", @sponsor, method: :delete %>
</div>
