<div id="<%= dom_id contact %>">
  <p>
    <strong>Firstname:</strong>
    <%= contact.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= contact.lastname %>
  </p>

  <p>
    <strong>Address1:</strong>
    <%= contact.address1 %>
  </p>

  <p>
    <strong>Address2:</strong>
    <%= contact.address2 %>
  </p>

  <p>
    <strong>Number1:</strong>
    <%= contact.number1 %>
  </p>

  <p>
    <strong>Number2:</strong>
    <%= contact.number2 %>
  </p>

  <p>
    <strong>Email1:</strong>
    <%= contact.email1 %>
  </p>

  <p>
    <strong>Email2:</strong>
    <%= contact.email2 %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= contact.comments %>
  </p>

  <p>
    <strong>Title1:</strong>
    <%= contact.title1 %>
  </p>

  <p>
    <strong>Title2:</strong>
    <%= contact.title2 %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= contact.url %>
  </p>

  <p>
    <strong>Studies:</strong>
    <%= contact.studies_id %>
  </p>

</div>
