<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :firstname, style: "display: block" %>
    <%= form.text_field :firstname %>
  </div>

  <div>
    <%= form.label :lastname, style: "display: block" %>
    <%= form.text_field :lastname %>
  </div>

  <div>
    <%= form.label :address1, style: "display: block" %>
    <%= form.text_field :address1 %>
  </div>

  <div>
    <%= form.label :address2, style: "display: block" %>
    <%= form.text_field :address2 %>
  </div>

  <div>
    <%= form.label :number1, style: "display: block" %>
    <%= form.text_field :number1 %>
  </div>

  <div>
    <%= form.label :number2, style: "display: block" %>
    <%= form.text_field :number2 %>
  </div>

  <div>
    <%= form.label :email1, style: "display: block" %>
    <%= form.text_field :email1 %>
  </div>

  <div>
    <%= form.label :email2, style: "display: block" %>
    <%= form.text_field :email2 %>
  </div>

  <div>
    <%= form.label :comments, style: "display: block" %>
    <%= form.text_area :comments %>
  </div>

  <div>
    <%= form.label :title1, style: "display: block" %>
    <%= form.text_field :title1 %>
  </div>

  <div>
    <%= form.label :title2, style: "display: block" %>
    <%= form.text_field :title2 %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.label :studies_id, style: "display: block" %>
    <%= form.text_field :studies_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
