<div id="<%= dom_id study %>">
  <p>
    <strong>Sponsors:</strong>
    <%= study.sponsors_id %>
  </p>

  <p>
    <strong>Study status:</strong>
    <%= study.study_status %>
  </p>

  <p>
    <strong>Local unique register:</strong>
    <%= study.local_unique_register %>
  </p>

  <p>
    <strong>Cientific title:</strong>
    <%= study.cientific_title %>
  </p>

  <p>
    <strong>Public title:</strong>
    <%= study.public_title %>
  </p>

  <p>
    <strong>Registrated at:</strong>
    <%= study.registrated_at %>
  </p>

  <p>
    <strong>Approved at:</strong>
    <%= study.approved_at %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= study.started_at %>
  </p>

  <p>
    <strong>First patient at:</strong>
    <%= study.first_patient_at %>
  </p>

  <p>
    <strong>Global ending at:</strong>
    <%= study.global_ending_at %>
  </p>

  <p>
    <strong>Study type:</strong>
    <%= study.study_type %>
  </p>

  <p>
    <strong>Study phase:</strong>
    <%= study.study_phase %>
  </p>

  <p>
    <strong>Inclusion criteria:</strong>
    <%= study.inclusion_criteria %>
  </p>

  <p>
    <strong>Exclusion criteria:</strong>
    <%= study.exclusion_criteria %>
  </p>

  <p>
    <strong>Sample size:</strong>
    <%= study.sample_size %>
  </p>

  <p>
    <strong>Main intervention:</strong>
    <%= study.main_intervention %>
  </p>

  <p>
    <strong>Control group:</strong>
    <%= study.control_group %>
  </p>

  <p>
    <strong>Participant starting age:</strong>
    <%= study.participant_starting_age %>
  </p>

  <p>
    <strong>Participant ending age:</strong>
    <%= study.participant_ending_age %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= study.sex %>
  </p>

  <p>
    <strong>Medical preexistencies:</strong>
    <%= study.medical_preexistencies %>
  </p>

  <p>
    <strong>Ethical cometee:</strong>
    <%= study.ethical_cometee %>
  </p>

  <p>
    <strong>Ethical approval at:</strong>
    <%= study.ethical_approval_at %>
  </p>

  <p>
    <strong>Keywords:</strong>
    <%= study.keywords %>
  </p>

  <p>
    <strong>Pathology:</strong>
    <%= study.pathology %>
  </p>

  <p>
    <strong>Medication:</strong>
    <%= study.medication %>
  </p>

  <p>
    <strong>Reviewed:</strong>
    <%= study.reviewed %>
  </p>

  <p>
    <strong>Review user:</strong>
    <%= study.review_user_id %>
  </p>

</div>
