<div id="<%= dom_id patient %>">
  <p>
    <strong>Users:</strong>
    <%= patient.users_id %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= patient.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= patient.lastname %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= patient.dob %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= patient.contact_number %>
  </p>

  <p>
    <strong>Contact address:</strong>
    <%= patient.contact_address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

</div>
